*{
    box-sizing: border-box;
}

body {
    margin: 0;
}

img{
    max-width: 100%;
}

/* header */
header {
    background-color: black;
    color: white;
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.logo {
    width: 100%;
}

.gallray img{
    aspect-ratio: 3/2;
    object-fit: cover;
}